@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-image: url(imgs/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: #D5D7DB;
    overflow-x: hidden;
}

footer {
    background-color: #313638;
    color: white;
    padding: 35px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    vertical-align: baseline;
}
.terms {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.terms a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.terms a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.iconeusuario{
    max-width: 350px;
    max-height: 350px;
}
.inputusuario,.inputemail,.inputtelefone,.inputdata{
border-radius: 5px;
border: rgb(94, 93, 93);
bottom: 255px;
}
.labelnomeusuario,.labelemail,.labeltelefone,.labeldata{
font-family: "Inter", sans-serif; ;
color: black;
display: block; 
    margin-bottom: 5px;
}
.salvarbutton{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size:13px;
    border: rgb(26, 83, 227) solid 2px;
    border-radius: 6px;
    background-color: rgb(26, 83, 227);
    height: 40px;
    width: 100px;
    transition: ease-in-out 0.3s;
    cursor: pointer;

}
.cancelarbutton{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size:13px;
    border: rgb(255, 0, 0) solid 2px;
    border-radius: 6px;
    background-color: rgb(255, 0, 0);
    height: 40px;
    width: 100px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
.containerusuario{
    background-color: rgb(180, 180, 180);
    align-items: center;
    border-radius: 25px;
    height: 400px;
    width: 50%;
    padding: 25px;
   
}
.corpo{
    text-align: center;
}