.dropdown{
    background-color: antiquewhite;
    justify-content: space-around;
    display: flex;
    border: 0;
    padding: 0;
}

.pergunta1{
    align-items: center;
    display: flex;
    background-color: blueviolet;
}

.box-p1{
    display: flex;
    align-items: center;
    background-color: bisque;
    width: fit-content;
}

.resposta1{
    background-color: brown;
    width: fit-content;
}