header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313638;
    padding: 18px 8%;
    font-family: "Inter", sans-serif;
    transition: 0.3s;
    position: -webkit-sticky;
    position: sticky;
}

header a {
    color: white;
    text-decoration: none;
   align-items: start;
    transition: all 0.2s;
}
header a:hover {
    text-decoration: underline;
    color: #1A53E3;
}
.header-esquerda{
    text-align: start;
}
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: #D5D7DB;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
.logo{
    max-height: 50px;
}

.header-bottom-border {
    position: relative;
}
.header-bottom-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: linear-gradient(to right, #F95A33, #1A53E3);
    transition: ease-in-out 0.3s;
}
.header-bottom-border:hover::after {
    height: 8px;
}
.corpo{
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    background-color: white;
    padding-top: 35px;

}
.crietitulo{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    margin-top: 0px;
    max-height: max-content;
}
p{
    text-align: left;
  margin-left: 35px;
  font-family: "Inter", sans-serif;
}
.radio {
text-align: left;
margin-left: 35px;
margin-bottom: 5px;
font-family: "Inter", sans-serif;
}
.buttomcampanha{
    text-align: center;
}
.gerar{


}
.submit-btn button {
    padding: 17px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #1A53E3;
    color: #fff;
    transition: all 0.2s;
}
h2{
margin-bottom: 1rem;
font-family: "Inter", sans-serif;
}
button{
    padding: 0.6rem 1.2rem;
    background-color: #1A53E3;
    color: white;
    border:none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.9;   
    font-size: 1rem;
    transition: .4s;
    
}
button:hover{
    opacity: 0.5;
}
#fade{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 500;
}
#modal{
    position: fixed;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 600;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;

}
#modal-header{
   text-align: center;
}
#modal.hide,
#fade.hide{

    opacity: 1;
}
<<<<<<< HEAD
.BOXPERGUNTA1{

}
.imagem{

    max-height: 100%;
    width: max-content;

}
=======
>>>>>>> 3ebdc66186c5386f426f211891468565cf19b75f
