@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --darker-gray: #313638;
    --gray-two: #c7c8cb;
    --gray: #D5D7DB;
    --blue: #1A53E3;
    --orange: #F95A33;
}

.hidden {
    display: none;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--gray);
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*CSS do header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darker-gray);
    padding: 18px 8%;
    font-family: "Inter", sans-serif;
    transition: 0.3s;
    position: -webkit-sticky;
    position: sticky;
}

header a {
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
}

header a:hover {
    text-decoration: underline;
    color: #1A53E3;
}

header span {
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

header span:hover {
    text-decoration: underline;
    color: #1A53E3;
}

header .header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-bottom-border {
    position: relative;
}

.header-bottom-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: linear-gradient(to right, var(--orange), var(--blue));
    transition: ease-in-out 0.3s;
}

.header-bottom-border:hover::after {
    height: 8px;
}

.logo img {
    max-height: 50px;
}

/*CSS do modal*/
#userModal[open] {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#userModal[open]::backdrop {
    background: none;
}

.modal-user-options {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0px;
    font-family: "Inter", sans-serif;
}

.gen-modal-button {
    color: black;
    background-color: transparent;
    border: transparent solid 2px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    outline: none;
}

.gen-modal-button:hover {
    background-color: #1A53E3;
    border: #1A53E3 solid 2px;
    color: #fff;
}

.exit-button {
    color: black;
    background-color: transparent;
    border: transparent solid 2px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.exit-button:hover {
    background-color: #FF033E;
    border: #FF033E solid 2px;
    color: #fff;
}

.modal-divisor {
    width: 100%;
    background-color: #313638;
    height: 1px;
}

/*CSS do modal de deletar campanha*/
.del-camp-modal[open] {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 4px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.del-camp-modal::backdrop {
    background-color: rgb(0 0 0 / .3);
}

.upper-del-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 12px;
}

.mid-del-modal {
    background-color: #f6f6f6;
    border-block: solid 1px #e3e3e3;
}

.bottom-del-modal {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 6px;
    padding: 12px;
}

.del-modal-title {
    margin: 0;
}

.del-modal-p {
    margin: 0;
    margin-inline: 12px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.dont-del-camp-button, .del-camp-button {
    padding: 12px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    border: solid 1px transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
}

.del-camp-button {
    background-color: #FF033E;
    color: #fff;
}

.dont-del-camp-button {
    background-color: #fff;
    border: solid 1px #bdbdbd;
    color: #a5a5a5;
}

.dont-del-camp-button:hover, .del-camp-button:hover {
    transform: translateY(-2px);
}

.close-del-camp-modal {
    cursor: pointer;
    transition: all 0.2s;
}

.close-del-camp-modal:hover {
    transform: translateY(-1px)
}

/*CSS do aside*/
.aside {
    display: flex;
    flex-direction: column;
    height: 90vw;
    padding: 30px 30px 30px 30px;
    background-color: var(--gray-two);
    border-radius: 0 15px 15px 0;
    width: 12vw;
    transition: all 0.3s;
}

.aside .options {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}

.divisor {
    height: 3px;
    width: 100%;
    margin: 15px 0 15px 0;
    border-radius: 30px;
    background-color: var(--darker-gray);
}

.aside .options .option p {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 100%;
    padding: 20px 14px 20px 14px;
    transition: all 0.3s;
    cursor: pointer;
}

.button-active {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 100%;
    padding: 20px 14px 20px 14px;
    transition: all 0.3s;
    cursor: pointer;
    transform: translateX(3px);
    background-color: var(--blue);
    box-shadow: 0px 0px 39px 0px rgba(26,83,227,1);
    color: white;
}

.del-button-active {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 100%;
    padding: 20px 14px 20px 14px;
    transition: all 0.3s;
    cursor: pointer;
    transform: translateX(3px);
    background-color: #FF033E;
    box-shadow: 0px 0px 39px 0px rgba(255, 3, 62, 1);
    color: white;
}

.aside .options .option p .option-icon {
    max-width: 25px;
    transition: all 0.3s;
}

/* CSS da companha/content */
.content {
    display: flex;
    width: 100%;
}

.camp-title {
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.camp-container {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding: 20px;
    gap: 20px;
}

.day {
    background-color: #fff;
    padding: 10px;
    border: solid 2px transparent;
    border-radius: 6px;
    transition: all 0.5s;
    cursor: default;
}

.day:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 39px 0px rgba(26,83,227,1);
    border: solid 2px var(--blue);
}

.camp-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

footer {
    background-color: #313638;
    color: white;
    padding: 35px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    vertical-align: baseline;
}

.terms {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.terms a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.terms a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.teste {
    width: 1%;
    height: 400px;
    margin: 5% -100% 8% 0;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.insta-icon, .youtube-icon {
    transition: all 0.3s;
}

.insta-icon:hover, .youtube-icon:hover {
    transform: translateY(-3px);
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #1A53E3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
