@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --darker-gray: #313638;
    --gray-two: #c7c8cb;
    --gray: #D5D7DB;
    --blue: #1A53E3;
    --orange: #F95A33;
}

.hidden {
    display: none;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--gray);
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*CSS do header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darker-gray);
    padding: 18px 8%;
    font-family: "Inter", sans-serif;
    transition: 0.3s;
    position: -webkit-sticky;
    position: sticky;
}

header a {
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
}

header a:hover {
    text-decoration: underline;
    color: #1A53E3;
}

header span {
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

header span:hover {
    text-decoration: underline;
    color: #1A53E3;
}

header .header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-bottom-border {
    position: relative;
}

.header-bottom-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: linear-gradient(to right, var(--orange), var(--blue));
    transition: ease-in-out 0.3s;
}

.header-bottom-border:hover::after {
    height: 8px;
}

.logo img {
    max-height: 50px;
}

/*CSS do modal*/
#userModal[open] {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#userModal[open]::backdrop {
    background: none;
}

.modal-user-options {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0px;
    font-family: "Inter", sans-serif;
}

.gen-modal-button {
    color: black;
    background-color: transparent;
    border: transparent solid 2px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.gen-modal-button:hover {
    background-color: #1A53E3;
    border: #1A53E3 solid 2px;
    color: #fff;
}

.exit-button {
    color: black;
    background-color: transparent;
    border: transparent solid 2px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.exit-button:hover {
    background-color: #FF033E;
    border: #FF033E solid 2px;
    color: #fff;
}

.modal-divisor {
    width: 100%;
    background-color: #313638;
    height: 1px;
}

/*CSS do aside*/
.aside {
    display: flex;
    flex-direction: column;
    height: 100vw;
    padding: 30px 30px 30px 30px;
    background-color: var(--gray-two);
    border-radius: 0 15px 15px 0;
    width: 12vw;
    transition: all 0.3s;
}

.aside .options {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}

.divisor {
    height: 3px;
    width: 100%;
    margin: 15px 0 15px 0;
    border-radius: 30px;
    background-color: var(--darker-gray);
}

.aside .options .option p {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 100%;
    padding: 20px 14px 20px 14px;
    transition: all 0.3s;
    cursor: pointer;
}

.button-active {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 100%;
    padding: 20px 14px 20px 14px;
    transition: all 0.3s;
    cursor: pointer;
    transform: translateX(3px);
    background-color: var(--blue);
    box-shadow: 0px 0px 39px 0px rgba(26,83,227,1);
    color: white;
}

.aside .options .option p .option-icon {
    max-width: 25px;
    transition: all 0.3s;
}

.general-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

/* CSS da companha/content */
.content {
    display: flex;
    width: 100%;
}

.camp-title {
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.camp-container {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 100%;
    padding: 20px;
}
