@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --darker-gray: #313638;
    --gray: #D5D7DB;
    --blue: #1A53E3;
    --orange: #F95A33;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: #D5D7DB;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    /* overflow-x: hidden;    
    overflow-y: hidden;     */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313638;
    padding: 18px 8%;
    font-family: "Inter", sans-serif;
    transition: 0.3s;
    position: -webkit-sticky;
    position: sticky;
}

header a {
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
}
header a:hover {
    text-decoration: underline;
    color: #1A53E3;
}

header .header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-bottom-border {
    position: relative;
}
.header-bottom-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: linear-gradient(to right, #F95A33, #1A53E3);
    transition: ease-in-out 0.3s;
}
.header-bottom-border:hover::after {
    height: 8px;
}
.logo img {
    max-height: 50px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 8% 15% 8%;
    padding: 0;
}

.main-title {
    position: relative;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: 9vmax;
    width: 10.4em;
    line-height: 1.2em;
    font-family: 'Dm Serif Display', sans-serif;
    font-size: 60px;
}

.main-p {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 19px;
    line-height: 1.8em;
    width: fit-content;
    width: 32.88em
}

.box-pergunta {
    max-height: 440px;
    min-height: 440px;
}

.box-p1,.box-p2,.box-p3,.box-p4,.box-p5,.box-p6{
    font-size: 35px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
    margin: 0;
    color: #000000;
}

.box-r1,.box-r2,.box-r3,.box-r4,.box-r4,.box-r5,.box-r6{
    font-size: 25px;
    font-family: 'Archivo Narrow', sans-serif;
}

.subtitulo{
    font-size: 55px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
    color: #000000;
}

.corpo{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
    border-radius: 20px 0px 0px 20px;
    background-color: #ffffff;
    margin-left: 50%;
    margin-bottom: 0;
    height: 10%;
    padding-top: 35px;
    padding: 50px;
}

.campanha-demonstrativa {
    justify-content: center;
    align-items: center;
    width: 300px; /* Largura da box */
    height: 500px; /* Altura da box */
    margin: 20px auto; /* Centraliza na página */
}

.campanha-demonstrativa img {
    max-width: 100%; /* Para a imagem ocupar a largura da box */
    max-height: 100%; /* Para a imagem ocupar a altura da box */
    object-fit: contain; /* Mantém a proporção da imagem */
    border: 1px solid #ccc; /* Borda */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.buttons-hidden {
    display: none;
}

.buttons {
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 2%;
    /* background-color: var(--darker-gray); */
    border-radius: 5px;
    justify-content: space-around;
    vertical-align: center;
    align-items: center;
    text-align: center;
}

.buttons img {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 45px;
}

.buttons p {
    margin: 0;
    font-family: "Archivo Narrow", sans-serif;
}

.button {
    justify-content: center;
    justify-items: center;
    vertical-align: center;
    align-items: center;
    text-align: center;
}

.buttons .button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

footer {
    background-color: #313638;
    color: white;
    padding: 35px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.terms {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.terms a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.terms a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}
.loader::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #1A53E3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
