.h3{
    size: 30px;    
}

.box-p1{
    background-color: antiquewhite;
}

.box-r1{
    background-color: beige;
}

.box-r2{
    background-color: aquamarine;
}

.box-r3{
    background-color: bisque;
}

.box-r4{
    background-color: aquamarine;
}

.box-r5{
    background-color: bisque;
}

.box-r6{
    background-color: aquamarine;
}