@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --darker-gray: #313638;
    --gray-two: #c7c8cb;
    --gray: #D5D7DB;
    --blue: #1A53E3;
    --orange: #F95A33;
}

.hidden {
    display: none;
    transition: all 0.3s;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--gray);
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darker-gray);
    padding: 18px 8%;
    font-family: "Inter", sans-serif;
    transition: 0.3s;
    position: -webkit-sticky;
    position: sticky;
}

header a {
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
}

header a:hover {
    text-decoration: underline;
    color: #1A53E3;
}

header .header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-bottom-border {
    position: relative;
}

.header-bottom-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: linear-gradient(to right, var(--orange), var(--blue));
    transition: ease-in-out 0.3s;
}

.header-bottom-border:hover::after {
    height: 8px;
}

.logo img {
    max-height: 50px;
}

.aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30px 30px 30px 30px;
    background-color: var(--gray-two);
    border-radius: 0 15px 15px 0;
    width: 12vw;
    transition: all 0.3s;
}

.aside .options {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}

.divisor {
    height: 3px;
    width: 100%;
    margin: 15px 0 15px 0;
    border-radius: 30px;
    background-color: var(--darker-gray);
}

.aside .options .option p {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 100%;
    padding: 20px 14px 20px 14px;
    transition: all 0.3s;
    cursor: pointer;
}

.button-active {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 100%;
    padding: 20px 14px 20px 14px;
    transition: all 0.3s;
    cursor: pointer;
    transform: translateX(3px);
    background-color: var(--blue);
    box-shadow: 0px 0px 39px 0px rgba(26,83,227,1);
    color: white;
}

/* .aside .options .option p:hover {
    background-color: var(--gray);
} */

.aside .options .option p .option-icon {
    max-width: 25px;
    transition: all 0.3s;
}

/* CSS da Dashboard */

.content {
    display: flex;
    width: 100%;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.qtd-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
}

.new-users, .new-camp, .users {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    width: 33%;
}

.new-users-title, .new-camp-title, .users-title {
    margin-bottom: 10px;
}

.user-quantity, .camp-quantity, .users span {
    font-size: 50px;
}
.new-users-desc span, .camp-desc span {
    color: rgb(0, 189, 0);
}
.dash-title{
    font-size: 30px;
}
.chart-info{
    display: flex;
    width: 100%;
    gap: 15px;
}
.new-users-icon, .new-camp-icon, .users-icon {
    display: flex;
    align-items: center;
}
.graph-bar{
    width: 66.5%;
    background-color: white;
    border-radius: 15px;
}

.graph-pie{
    width: 33.5%;
    background-color: white;
    border-radius: 15px;
}

/* CSS do user table */

/* .user-table {

} */

/* CSS do admin table */

/* .admin-table {

} */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #1A53E3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
